<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    
    <ul>
      <li>
        <a routerLink="/form-one" routerLinkActive="active" title="form one">
          {{ 'FormOne' | translate }}</a
        >
      </li>
      <li>
        <a routerLink="/form-two" title="form one" routerLinkActive="active">
          {{ 'FormTwo' | translate }}</a
        >
      </li>
    </ul>

    <span class="form-inline">
      <select
        class="form-control"
        #selectedLang
        (change)="switchLang(selectedLang.value)"
      >
        <option
          *ngFor="let language of translate.getLangs()"
          [value]="language"
          [selected]="language === translate.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
